*{
    font-family: 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
    text-decoration: none;
    color: #1f2e2e;
}

li :hover {
    color: #3c73aa;
}

.single-folder{
    margin: 5px;
    min-width: 200px;
    font-size: 16px;
    text-decoration: none;
    text-align: right;
    

}
.folderName { 
    text-decoration: none;
}