
h1 {
    color: #005c99;
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-align: center;
}

nav {
    display: inline-block;
    max-width: 400px;
}

main {
    display: inline-flex;
    margin: 10px;
    width: 700px;
}

